name: CI

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  install_meson:
    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        platform:
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - macos-13
          - macos-14
          - windows-2022
          - windows-11-arm

    steps:
      - uses: conan-io/setup-conan@v1
      - uses: actions/checkout@v5
      - run: conan remote add swig-jse https://swig.momtchev.com/artifactory/api/conan/swig-jse
      - run: npm install
      - run: npx xpm install
      - run: npx xpm run install
      - name: Test
        run: npx xpm run test
